<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>
<body>
    <!-- khai bao diem bat dau chuong trinh -->
    <div ng-app="myapp" ng-controller="myctrl">
        <!-- goi cac bien -->
        <h1>Phep tinh: {{ a }} {{ a }} {{ c }} {{ d }}</h1>
        <!-- dinh nghia bien a -->
        <input ng-model="a"/>
        <!-- dinh nghia lua chon phep tinh -->
        <select ng-model="pt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <!-- dinh nghia bien b -->
        <input ng-model="b"/>
        <!-- dinh nghia dau = -->
        <button ng-click="tinh()">=</button>
        <!-- dinh nghia ket qua -->
        <input ng-model="kq" readonly />
    </div>
    <script>
        var app=angular.module("myapp",[]);
        app.controller("myctrl",function($scope){
            $scope.a=0;  $scope.b=0; $scope.kq=0;
            $scope.pt='+';
            $scope.tinh = function(){
                switch($scope.pt){
                    case '+':
                        $scope.kq = parseFloat($scope.a)+parseFloat($scope.b);
                        break;
                    case '-':
                        $scope.kq = parseFloat($scope.a)-parseFloat($scope.b);
                        break;
                    case '*':
                        $scope.kq = parseFloat($scope.a)*parseFloat($scope.b);
                        break;
                    case '/':
                        $scope.kq = parseFloat($scope.a)/parseFloat($scope.b);
                        break;
                }
            }

        });
    </script>
</body>
</html>